numpy
matplotlib
pandas
seaborn
Pillow
statsmodels
plotly
scipy
ipywidgets
nbformat
openmeteo-requests
requests-cache 
retry_requests
sqlalchemy
dotenv
pymysql
cryptography
scipy
scikit-learn
streamlit
